{{ define "main" }}
<style>
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 11%;
  }
  .active {
    background-color: #03a055 !important;
    color: white !important;
    border-radius: 0 !important;
  }
</style>
<div class="p-9 px-24">
  <div class="flex gap-8">
    <!-- Sidebar kiri tetap -->
    <div class="h-200vh w-64 relative">
      <div
        class="w-1/10 sticky top-28 bg-white shadow-xl border rounded-xl border-gray-300 p-4"
      >
        {{ range .Pages.ByDate.Reverse }}
        <div
          class="bg-white text-black text-lg text-center py-2 rounded-md mb-4 hover:bg-gray-100 cursor-pointer"
        >
          <a
            href="#{{ anchorize .Title }}"
            class="block"
            onclick="setActive(this)"
          >
            {{ .Title }}
          </a>
        </div>
        <div class="border-t border-customGreen my-2"></div>
        {{ end }}
      </div>
    </div>

    <!-- Content -->
    <div
      class="flex-1 h-auto top-28 bg-white shadow-xl border rounded-xl border-gray-300 p-4"
    >
      {{ range .Pages.ByDate.Reverse }}
      <div
        id="{{ anchorize .Title }}"
        class="bg-white text-black py-6 rounded-md mb-4 flex items-center scroll-mt-[20vh]"
      >
        <span class="text-2xl flex-shrink-0">{{ .Title }}</span>
        <div class="flex-grow h-1 bg-customGreen ml-2"></div>
      </div>
      {{ .Content | safeHTML }} {{ end }}
    </div>
  </div>
</div>
<script>
  function setActive(element) {
    // Hapus kelas active dari semua link
    document.querySelectorAll("a").forEach((a) => {
      a.parentElement.classList.remove("active");
    });
    // Tambahkan kelas active ke elemen yang diklik
    element.parentElement.classList.add("active");
  }

  // Tambahkan event listener untuk scroll
  window.addEventListener("scroll", function () {
    let sections = document.querySelectorAll("[id]");
    sections.forEach((section) => {
      let rect = section.getBoundingClientRect();
      if (rect.top <= 150 && rect.bottom >= 150) {
        let id = section.getAttribute("id");
        document.querySelectorAll("a").forEach((a) => {
          a.parentElement.classList.remove("active");
          if (a.getAttribute("href") === "#" + id) {
            a.parentElement.classList.add("active");
          }
        });
      }
    });
  });
</script>
{{ end }}
