{{ $accent := .Site.Params.accentColor }}
<div
  class="blog-card-home-foto relative text-white rounded-lg shadow-md overflow-hidden cursor-pointer"
  data-modal="{{ .RelPermalink }}"
  data-title="{{ .Params.title }}"
  data-thumbnail="{{ .Params.thumbnail }}"
>
  <!-- Thumbnail -->
  {{ if .Params.thumbnail }}
  <div
    class="thumbnail absolute inset-0 bg-cover bg-center"
    style="background-image: url('{{ .Params.thumbnail }}');"
    loading="lazy"
  ></div>
  {{ end }}

  <!-- Title on hover -->
  <div
    class="title-container absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300"
  >
    <span class="text-xl font-bold text-white px-4 py-2 bg-opacity-50 rounded">
      {{ .Params.title }}
    </span>
  </div>

  <!-- Tanggal selalu terlihat di kanan bawah -->
  {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
  <div class="date-container absolute bottom-0 right-0 p-2">
    <span class="text-base text-white bg-customGreen rounded-full px-4 py-2">
      {{ .Date.Format "2 January 2006" }}
    </span>
  </div>
  {{ end }}
</div>

<style>
  /* Blog card container */
  .blog-card-home-foto {
    width: 300px;
    height: 175px;
    position: relative; /* Pastikan elemen ini memiliki posisi relatif */
    overflow: hidden;
    border-radius: 0.5rem; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
  }

  @media (max-width: 768px) {
    .blog-card-home-foto {
      width: 220px; /* Ukuran lebih kecil pada tampilan mobile */
      height: 130px;
    }
  }

  /* Thumbnail styling */
  .blog-card-home-foto .thumbnail {
    position: absolute; /* Absolute positioning for background */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, filter 0.5s ease;
  }

  /* Hover effect on thumbnail */
  .blog-card-home-foto:hover .thumbnail {
    transform: scale(1.1); /* Slight zoom on hover */
    filter: brightness(75%); /* Darken the image on hover */
  }

  /* Hover effect to show title */
  .blog-card-home-foto:hover .title-container {
    opacity: 1; /* Show title on hover */
  }

  /* Date container styling */
  .date-container {
    position: absolute; /* Absolute positioning for date */
    bottom: 0;
    right: 0;
    padding: 0.5rem; /* Padding around the date */
    border-radius: 0.25rem; /* Rounded corners for date container */
  }
</style>
