{{ define "main" }}
  {{ $type := .Type }}

  {{ if eq $type "PPID" }}
    {{ .Content }}
  {{ else if or (eq $type "layanan") (eq $type "Layanan") }}
  {{ $paginator := .Paginate .Pages.ByDate.Reverse 12 }}
  <div class="container-besar">
    {{- partial "title-underline.html" (dict "Judul" "Layanan" "Deskripsi" "") -}}
    <div class="swiper">
        <div class="wrapper-rounded p-8 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-28">
            {{ range $paginator.Pages }}
            {{ if .Params.eurl }}
            <a href="{{ .Params.eurl }}" target="_blank">
                {{ if .Params.thumbnail }}
                <div class="relative border-solid">
                    <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-contain" />
                </div>
                {{ else }}
                {{ .Content }}
                {{ end }}
                {{ .Params.title }}
            </a>
            {{ else}}
                {{ if .Params.thumbnail }}
                <div class="relative border-solid">
                    <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-contain" />
                </div>
                {{ end }}
                {{ .Content }}
            {{ end }}
            {{ end }}
        </div>
    </div>
  </div>
  {{ partial "pagination.html" . }}
  {{ else if eq $type "galeri" }}
    {{- partial "title-underline.html" (dict "Judul" .Title "Deskripsi" "") -}}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse 12 }}
    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
      {{ range $paginator.Pages }}
        {{ partial "galeri-card.html" . }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  {{ else if eq $type "page" }}
    {{- partial "title-underline.html" (dict "Judul" .Title "Deskripsi" "") -}}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse 12 }}
    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
      {{ range $paginator.Pages }}
        {{ partial "blog-card-2.html" . }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  {{ else if eq $type "externalUrl" }}
    {{- partial "title-underline.html" (dict "Judul" .Title "Deskripsi" "") -}}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse 12 }}
    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
        {{ range $paginator.Pages }}
        {{ if .Params.eurl }}
        <a href="{{ .Params.eurl }}" target="_blank">
            {{ if .Params.thumbnail }}
            <div class="relative border-solid">
                <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-contain" />
            </div>
            {{ else }}
            {{ .Content }}
            {{ end }}
            {{ .Title }}
        </a>
        {{ else}}
            {{ if .Params.thumbnail }}
            <div class="relative border-solid">
                <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-contain" />
            </div>
            {{ .Title }}
            {{ else }}
            <div>
                {{ .Content }}
            </div>
            {{ end }}
        {{ end }}
        {{ end }}
    </div>


    {{ partial "pagination.html" . }}
  {{ else }}
    {{- partial "title-underline.html" (dict "Judul" .Title "Deskripsi" "") -}}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse 12 }}
    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
      {{ range $paginator.Pages }}
        {{ partial "blog-card-3.html" . }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  {{ end }}
{{ end }}
