{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
  {{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

  <div class="container mx-auto my-8 px-6">
    <div class="flex items-center mb-8">
      <h1 class="text-4xl font-bold text-customGreen" style="font-family: 'Poppins', sans-serif;">{{ .Title }}</h1>
      <div class="flex-grow ml-4 border-t-4 border-customGreen"></div>
    </div>
    
    <div class="p-6 rounded-lg relative">
      <div class="absolute top-0 left-0 w-full h-52 bg-customGreen rounded-lg transform -translate-x-2 -translate-y-2 hidden md:block"></div>
      <div class="absolute top-8 left-20 h-96 bg-customYellow rounded-lg transform -translate-x-4 -translate-y-4 hidden md:block" style="width: 90%;"></div>
      <div class="relative bg-white p-6 rounded-lg border border-gray-300 md:top-10 md:left-30" style="font-family: 'Poppins', sans-serif; width: 90%;">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
