<section style="border-radius: 8px; overflow: hidden;" class="mt-8">
  <button class="font-bold accordion passive flex justify-between align-center">
    {{ .Soal }}
    <svg style="min-width: 32px;" class="dropdown-svg" width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 15L12 9L18 15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <div style="margin: 0;" class="panel mt-3">
    <p class="py-4 text-sm" style="color: #E6E6E6">{{ .Jawaban }}</p>
  </div>
</section>