<div class="p-2 relative">
  {{- partial "copy-clipboard.html" (dict "Position" "absolute" "Top" "" "Bottom" "bottom-9" "Right" "right-9" "Left" "" "Link" .Permalink "Context" .) -}}
  <a href="{{ .RelPermalink }}">
    {{ $thumbnail := .Params.thumbnail }}
    {{ if $thumbnail }}
      <div class="relative" style="border-radius: 8px">
        <img style="min-height: 320px;" src="{{ $thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" loading="lazy"/>
        {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
          <div class="absolute flex top-4 left-4 text-sm" style="z-index: 9999; align-items: center">
            <i class="text-white mr-2 fas fa-calendar"></i>
            <p class="text-white mr-4">{{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long") }}</p>
            <i class="text-white mr-2 fas fa-map-marker-alt"></i>
            <p class="text-white">Pontianak, Kalimantan Barat</p>
          </div>
          {{ if eq .Params.type "Galeri Video" }}
            <div class="absolute" style="left: 50%; top: 50%; z-index: 999; font-size: 64px; transform: translate(-50%, -50%)">
              <i class="text-white far fa-play-circle"></i>
            </div>
          {{ end }}
          <div class="absolute bottom-4 left-0 text-sm px-2 py-0.5 bg-main" style="border-radius: 0 18px 18px 0; width: auto; color: #FFF; padding: 8px 32px 8px 12px; z-index: 99">
            <div class="mb-2 mt-1 text-xl font-semibold text-white hide-small">{{ .Params.title }}</div>
            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 85%;" class="mb-2 text-lg font-semibold text-white hide-large">{{ .Params.title }}</div>
          </div>
          <div style="background: rgba(0,0,0,0.5); width: 100%; height: 100%; padding: 48px 32px; top: 0; left: 0; border-radius: 8px" class="absolute">
            <div class="absolute bottom-7" style="width: calc(100% - 64px); height: auto">
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </a>
</div>
