<style>
  body {
    overflow-x: hidden;
  }
  .bigResponsive li.active {
    position: relative;
  }
  .bigResponsive li.active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
  }
  .dark .bigResponsive li.active::after {
    border-bottom: 2px solid white;
  }
  .bigResponsive .navbar-nochild.active::after {
    bottom: -2rem !important;
  }
  .bigResponsive #navbar-mobile {
    display: flex;
    width: auto;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  .bigResponsive .mobile-menu-button {
    display: none;
  }
  .bigResponsive .navbar-class-py {
    padding: 1.5rem 0;
  }
  .bigResponsive .mobile-menu-button {
    display: none;
  }
  .bigResponsive .navbar-class-py {
    padding: 1.5rem 0;
  }
  @media (max-width: 1310px) {
    #navbar-mobile::before {
      border: 0px solid transparent !important;
    }
    #navbar-mobile::after {
      background: transparent !important;
    }
    #navbar-mobile {
      padding: 0.75rem 0;
    }
  }
  .navbar-hover,
  .navbar-hover div {
    transition: 0.5s all ease-in-out;
  }
  .navbar-hover:hover a {
    color: white;
  }
  .navbar-hover:hover div {
    right: 0 !important;
  }
  #navbar-mobile::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    left: -50px;
    border-left: 50px solid transparent;
    border-bottom: 80px solid white;
  }
  #navbar-mobile::after {
    content: "";
    position: absolute;
    top: 0;
    width: 900px;
    background: white;
    height: 80px;
    right: -900px;
  }
  .nopseudo::after {
    opacity: 0;
  }
  .nopseudo::before {
    opacity: 0;
  }
  #navbar-mobile {
    background: white;
  }
  .dark #navbar-mobile {
    background: rgba(17, 24, 39, 1);
  }
  .dark #navbar-mobile::before {
    border-bottom: 80px solid rgba(17, 24, 39, 1);
  }
  .dark #navbar-mobile::after {
    background: rgba(17, 24, 39, 1);
  }
  .navbar-parent {
    color: black;
    transition: 0.3s all ease-in;
  }
  .navbar-parent:hover {
    color: #1674ba;
    cursor: pointer;
  }
  .capitalize-case {
    text-transform: capitalize;
  }
  * {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* this pixel should match fixed header height */
  }
</style>
<header
  id="headerid"
  class="bigResponsive"
  style="
    max-width: 9999px !important;
    z-index: 99999;
    background: rgba(34, 95, 180, 0.5);
    box-shadow: 5px 10px 5px -3px rgba(0, 0, 0, 0.37);
    position: sticky;
    top: 0;
  "
>
  <div
    class="container-besar container flex justify-center md:justify-center gap-6 flex-wrap relative"
  >
    <button class="mobile-menu-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <line x1="4" y1="8" x2="20" y2="8" />
        <line x1="4" y1="16" x2="20" y2="16" />
      </svg>
    </button>
    <div class="flex lg:px-8">
      {{ if .Site.Params.logo }}
      <div class="flex align-center gap-3">
        <img
          src="https://diskominfo.kalbarprov.go.id/kalbar-logo.png"
          alt=""
          class="max-w-full mr-2"
          style="height: 80px"
        />
        <p
          class="text-white font-normal text-sm uppercase"
          style="width: 50%; height: 40px; padding: 20px 0"
        >
          Diskominfo Provinsi Kalimantan Barat
        </p>
      </div>
      {{ else }}
      <p class="text-white uppercase" style="font-size: 18px">
        Pemerintah Provinsi Kalimantan Barat
      </p>
      {{ end }}
    </div>
    <ul
      id="navbar-mobile"
      class="absolute z-10 top-full left-0 w-full hidden flex-col items-center gap-10 lg:gap-4 xl:items-end text-base md:text-xs lg:text-sm dark:text-white bg-white dark:bg-gray-900 px-4"
    >
      {{ $site := $.Params.title }} {{ if or (strings.Contains .RelPermalink
      "/profil/") (strings.Contains .RelPermalink "/landing-profil") }} {{ if
      (strings.Contains .RelPermalink "/landing-profil") }}
      <script>
        $(".navbar-parent").click(function () {
          $(".navbar-parent").removeClass("active");
          $(this).addClass("active");

          var targetId = $(this).data("link");
          var targetElement = document.getElementById(targetId);
          targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
        });
      </script>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/">Home</a>
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="profilPimpinan"
      >
        Profil Pimpinan
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="strukturDiskominfo"
      >
        Struktur
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="maklumatDiskominfo"
      >
        Maklumat Pelayanan
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="lhkpn"
      >
        LHKPN
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/beranda/#sopPeraturan">Informasi</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#profilPPID">PPID</a>
      </li>
      {{ else }}
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil">Home</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil/#profilPimpinan">Profil Pimpinan</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil/#strukturDiskominfo">Struktur</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil/#maklumatDiskominfo">Maklumat Pelayanan</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil/#lhkpn">LHKPN</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/beranda/#sopPeraturan">Informasi</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#profilPPID">PPID</a>
      </li>
      {{ end }} {{ else if or (strings.Contains .RelPermalink "/ppid/")
      (strings.Contains .RelPermalink "/landing-ppid") }} {{ if
      (strings.Contains .RelPermalink "/landing-ppid") }}
      <script>
        $(".navbar-parent").click(function () {
          $(".navbar-parent").removeClass("active");
          $(this).addClass("active");

          var targetId = $(this).data("link");
          var targetElement = document.getElementById(targetId);
          targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
        });
      </script>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/">Home</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil">Diskominfo</a>
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="profilPPID"
      >
        Profil PPID
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="informasiPPID"
      >
        Informasi PPID
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="biayaWaktuLayanan"
      >
        Layanan PPID
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="faq"
      >
        FAQ
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a
          href="https://layanan-diskominfo.kalbarprov.go.id/PENGADUAN-PELAYANAN/aduan"
          >Pengaduan</a
        >
      </li>
      {{ else }}
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/">Home</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil">Diskominfo</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#profilPPID">Profil PPID</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#informasiPPID">Informasi PPID</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#biayaWaktuLayanan">Layanan PPID</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#faq">FAQ</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a
          href="https://layanan-diskominfo.kalbarprov.go.id/PENGADUAN-PELAYANAN/aduan"
          >Pengaduan</a
        >
      </li>
      {{ end }} {{ else }} {{ if (strings.Contains .RelPermalink "/beranda") }}
      <script>
        $(".navbar-parent").click(function () {
          $(".navbar-parent").removeClass("active");
          $(this).addClass("active");

          var targetId = $(this).data("link");
          var targetElement = document.getElementById(targetId);
          targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
        });
      </script>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/">Home</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil">Tentang Kami</a>
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="berita"
      >
        Berita
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="sopPeraturan"
      >
        SOP & Peraturan
      </li>
      <li
        class="navbar-parent dark:text-white lg:text-white"
        data-link="dokumentasi"
      >
        Dokumentasi
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="layanan"
      >
        Layanan
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="galeri"
      >
        Galeri
      </li>
      <li
        class="navbar-parent navbar-nochild dark:text-white lg:text-white"
        data-link="kontak"
      >
        Kontak
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#profilPPID">PPID</a>
      </li>
      {{ else }}
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/">Home</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-profil">Tentang Kami</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/beranda/#sopPeraturan">Informasi</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/berita">Berita</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/layanan">Layanan</a>
      </li>
      <li class="navbar-parent navbar-nochild dark:text-white lg:text-white">
        <a href="/landing-ppid/#profilPPID">PPID</a>
      </li>
      {{ end }} {{ end }} {{ if hugo.IsMultilingual }} {{ if ge (len
      .Site.Languages) 3 }}
      <li class="relative cursor-pointer">
        <span class="language-switcher flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <line x1="3.6" y1="9" x2="20.4" y2="9" />
            <line x1="3.6" y1="15" x2="20.4" y2="15" />
            <path d="M11.5 3a17 17 0 0 0 0 18" />
            <path d="M12.5 3a17 17 0 0 1 0 18" />
          </svg>
          <a>{{ i18n "languageSwitcherLabel" }}</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 15l-6 -6l-6 6h12" transform="rotate(180 12 12)" />
          </svg>
        </span>
        <div
          class="language-dropdown absolute top-full mt-2 left-0 flex-col gap-2 bg-gray-100 dark:bg-gray-900 dark:text-white z-10 hidden"
        >
          {{ range .Site.Languages }} {{ if not (eq .Lang $.Site.Language.Lang)
          }}
          <a
            class="px-3 py-2 hover:bg-gray-200 dark:hover:bg-gray-700"
            href="/{{ .Lang }}"
            lang="{{ .Lang }}"
            >{{ default .Lang .LanguageName }}</a
          >
          {{ end }} {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="flex items-center">
        {{ range .Site.Languages }} {{ if not (eq .Lang $.Site.Language.Lang) }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="9" />
          <line x1="3.6" y1="9" x2="20.4" y2="9" />
          <line x1="3.6" y1="15" x2="20.4" y2="15" />
          <path d="M11.5 3a17 17 0 0 0 0 18" />
          <path d="M12.5 3a17 17 0 0 1 0 18" />
        </svg>
        <a href="/{{ .Lang }}" lang="{{ .Lang }}"
          >{{ default .Lang .LanguageName }}</a
        >
        {{ end }} {{ end }}
      </li>
      {{ end }} {{ end }} {{ if .Site.Params.enableSearch }}
      <li class="grid place-items-center">
        <span class="inline-block cursor-pointer">
          <i
            class="fas fa-search dark:text-white lg:text-black"
            style="font-size: 12px"
          ></i>
        </span>
      </li>
      {{ end }} {{ if .Site.Params.darkModeToggle }}
      <li class="grid place-items-center">
        <span class="toggle-dark-mode inline-block cursor-pointer">
          <i
            class="fas fa-adjust dark:text-white lg:text-black"
            style="font-size: 12px"
          ></i>
        </span>
      </li>
      {{ end }}
    </ul>
  </div>
</header>
<script>
  var temporaryWidth = 0;
  var yourDiv = document.getElementById("navbar-mobile");
  var headerDiv = document.getElementById("headerid");
  var mobileBtn = document.querySelector(".mobile-menu-button");

  function gotoHref(elem) {
    window.location.href = elem.getAttribute("data-link");
  }

  $(".navbar-parent").click(function () {
    $(".navbar-parent").removeClass("active");
    $(this).addClass("active");

    var targetId = $(this).data("link");
    var targetElement = document.getElementById(targetId);
    targetElement.scrollIntoView({ behavior: "smooth", block: "center" });
  });

  mobileBtn.addEventListener("click", function () {
    if ($("#navbar-mobile").hasClass("hidden")) {
      hapusClass();
    } else {
      tambahClass();
    }
  });

  function tambahClass() {
    $("#navbar-mobile").addClass("hidden");
    $("#navbar-mobile").removeClass("flex");
    $("#navbar-mobile").addClass("py-2");
    $("#navbar-mobile").addClass("nopseudo");
  }

  function hapusClass() {
    $("#navbar-mobile").removeClass("hidden");
    $("#navbar-mobile").addClass("flex");
    $("#navbar-mobile").removeClass("py-2");
    $("#navbar-mobile").removeClass("nopseudo");
  }

  window.addEventListener("orientationchange", function () {
    temporaryWidth = yourDiv.offsetWidth;
    checkWidth();
    function checkWidth() {
      if (window.screen.width >= 1310 && window.innerWidth >= 1310) {
        hapusClass();
        headerDiv.classList.add("bigResponsive");
        if (temporaryWidth <= 870) {
          headerDiv.classList.add("bigResponsive");
        } else {
          headerDiv.classList.remove("bigResponsive");
        }
      } else {
        headerDiv.classList.remove("bigResponsive");
      }
    }
    window.addEventListener("resize", checkWidth);
    document.documentElement.scrollLeft = 0;
    document.body.scrollLeft = 0;
  });

  document.addEventListener("DOMContentLoaded", function () {
    temporaryWidth = yourDiv.offsetWidth;
    checkWidth();
    function checkWidth() {
      if (window.screen.width >= 1310 && window.innerWidth >= 1310) {
        hapusClass();
        headerDiv.classList.add("bigResponsive");
        if (temporaryWidth <= 870) {
          headerDiv.classList.add("bigResponsive");
        } else {
          headerDiv.classList.remove("bigResponsive");
        }
      } else {
        headerDiv.classList.remove("bigResponsive");
      }
    }
    window.addEventListener("resize", checkWidth);
    document.documentElement.scrollLeft = 0;
    document.body.scrollLeft = 0;
  });
</script>
