<style>
#layanan_utama_link{
  transition: 0.5s all ease-out;
}
#layanan_utama_link:hover{
  background: #1674BA !important;
}
</style>
<section class="mt-16">
  <div style="width: 80%; height: 280px; position: relative; overflow: hidden;" class="mx-auto rounded-lg">
    <div style="position: absolute; background: rgba(0,0,0,0.5); width: 100%; height: 100%; z-index: 1" class="rounded-lg">
      <div class="absolute bottom-8 left-8">
        <h1 id="layanan_utama_judul" class="text-white text-2xl font-bold">Test</h1>
        <p id="layanan_utama_deskripsi" style="opacity: 70%" class="text-white mt-4">Deskripsi testingan</p>
        <a id="layanan_utama_link" style="float: left; border-radius: 999px; padding: 8px 24px; font-size: 12px" class="text-white mt-4 border-main" href="#">Kunjungi Websitenya ></a>
      </div>
    </div>
    <img id="layanan_utama_image" class="rounded-lg absolute" style="width: 100%; z-index: 0" src="/sliders/slider1.png" alt="">
  </div>
</section>