{{ define "main" }}

<section class="place-items-center py-3 relative flex flex-wrap justify-between items-center">
  <div class="flex flex-wrap justify-center md:justify-between items-center">
    <!-- Image Section -->
    <div class="w-full md:w-1/2 flex justify-center">
      <img src="/images/logo-404.png" class="w-3/4 md:w-200 px-5 my-10" alt="404 Not Found">
    </div>
    <!-- Text Section -->
    <div class="w-full md:w-1/2 text-center md:text-left px-5">
      <h1 class="text-4xl md:text-7xl font-bold mb-6 mt-10 text-customGreen">Page 404</h1>
      <p class="text-xl md:text-3xl font-semibold text-black mb-4">Halaman Sedang Dalam Perbaikan</p>
      <p class="text-gray-600 dark:text-gray-400">Mohon maaf atas ketidaknyamanan ini. Kami sedang melakukan pembaruan agar halaman ini dapat berfungsi dengan lebih baik. Silakan kembali lagi nanti.</p>
      <div class="mt-8 z-10 mb-8">
        <a class="px-6 py-4 rounded-2xl bg-customGreen text-white hover:text-customGreen hover:bg-white transition-colors" style="border: 2px solid;" href="{{ .Site.BaseURL }}">Kembali ke Beranda</a>
      </div>
    </div>
  </div>
</section>

{{ end }}