{{ define "main" }}
<h1 class="text-3xl font-bold mb-4 mt-2 text-center">{{ .Page.LinkTitle }}</h1>
<section class="grid place-items-center py-32 relative ">
    <article class="w-7/12">
        {{/*  <!--<div class="grid grid-cols-3 gap-6 mx-auto">
            {{ range sort .Site.RegularPages "Type" }}
            <div class="flex">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circles-relation">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9.183 6.117a6 6 0 1 0 4.511 3.986" />
                    <path d="M14.813 17.883a6 6 0 1 0 -4.496 -3.954" />
                </svg>
                <h2>
                    <a href="{{ .Permalink }}">
                        {{ .RelPermalink }}
                    </a>
                </h2>
            </div>
            {{ end }}
        <div>-->  */}}
            <div class="grid grid-cols-12 gap-4">
                {{ range .Site.Pages.GroupBy "Type" }}
                <div class="col-span-12 text-center text-xl text-bold">
                    <i class="fas fa-folder fa-sm fa-fw"></i>
                    {{ .Key }}
                </div>
                {{ range .Pages }}
                <div class="col-span-1"></div>
                <div class="col-span-5">
                    <i class="fas fa-link fa-sm fa-fw"></i>
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a><br/>
                </div>
                {{ end }}
                {{ end }}

            </div>

    </article>
    </div>
    </div>

</section>

{{ end }}
