{{ define "main" }}
  {{ partial "banner-card.html" . }}
  <div class="container-besar grid lg:grid-cols-5" style="grid-template-columns: 20% 20% 20% 20% 20%">
      {{ range $key, $value := .Params.items.titles }}
      <div class="my-16">
          <div class="flex justify-center mb-4">
              <i style="font-size: 96px;" class="{{ index $.Params.items.icons $key }}"></i>
          </div>
          <div class="flex justify-center">
              <a href="{{ index $.Params.items.links $key }}" class="text-center {{ $.Site.Params.textSecondaryColor }}" style="text-decoration: underline;">{{ index $.Params.items.titles $key }}</a>
          </div>
      </div>
      {{ end }}
  </div>
{{ end }}